@import url(./../assets/css/universal.css);

.ml-footer-btn {
  padding: 20px 40px;
  height: 100%;
  border: 0px;
  cursor: pointer;
  background-color: var(--btn-background);
  color: var(--btn-color);
  font-weight: bold;
}
.ml-footer-btn:active {
  background-color: #282828 !important;
}
.ml-footer-btn:hover {
  background-color: cornflowerblue;
  color: white;
  /* transition: 0.2s ease-out; */
}
.ml-footer-btn:focus {
  outline: 0;
}
.ml-footer {
  /* padding: 15px; */
  background-color: #f9f9f9;
  display: flex;
}
.ml-sidepane-container {
  position: absolute;
  padding: 15px;
  right: 0;
  top: 0;
  height: 100%;
  width: 210px;
  background: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.m-title-bar {
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.m-tab-header-area {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
}
.m-tab-header-item {
  padding: 0px 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}
.m-tab-header-item-selected {
  border: solid 1px #ededed;
  border-bottom-width: 0px;
}
.m-tab-header-item-unselected {
  border: solid 0px #ededed;
  border-bottom-width: 1px;
}

.m-tab-header-item-unselected:hover {
  border-color: orange;
  color: orange;
  transition: 0.2s ease-out;
}

.m-content-area {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.m-thumb-image {
  object-fit: cover;
  height: 130px;
  width: 150px;
  cursor: pointer;
  border-radius: 2px;
  border: solid 2px white;
  padding: 2px;
}

.m-thumb-image:hover {
  /* padding: 2px; */
  box-shadow: var(--elevate-1);
  transition: 0.2s ease-out;
  border-color: orange;
}
/* 
.m-thumbnail {
  height: 170px;
  width: 170px;
  border: solid 1px #eeeeee;
} */
