:root {
  --app-theme-color: #8dc443;
  --app-theme-accent: #f57b34;
}

.me-tab-header-area {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.me-tab-header {
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
}

.me-tab-is-selected {
  background-color: var(--app-theme-color);
  box-shadow: var(--elevate-float);
  -webkit-box-shadow: var(--elevate-float);
  color: white;
}
.me-tab-is-selected:hover {
  opacity: 0.8;
  transition: 0.2s ease-out;
}
